* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}


body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding-top: 5px;
    
}

main {
    display: flex;
    margin-left: 30px;
  
}

#img-responsivo {
    display: none;
}

header {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    font-size: 35px;
}

.gif-caixa {
    width: 60px;
}

a {
    margin-left: 90px;
    color: aliceblue;
    align-items: center;
    text-decoration: none;
}

#rodolfo-mori {
    margin-left: 0%;
    text-decoration: underline;
}

#link-inicio {
    margin-left: 0%;
    text-decoration: underline;
    color: rgb(133, 191, 241);
}

#link-enviar-e-mail {
    margin-left: 0%;
    text-decoration: underline;
    color: rgb(133, 191, 241);
}

#img-box-1 {
    width: 300px;
}

#img-box-2 {
    height: 400px;
    right: 3%;
    position: absolute;
}

#img-box-3 {
    height: 170px;
    bottom: 10%;
    right: 3%;
    position: absolute;
}

#img-logo-index-2 {
    width: 150px;
    margin-left: 5%;
}

.box-1 {
    width: 50%;
}

.box-2 {
    margin-left: 10%;
   
}

.box-3 {
    width: 85%;
    gap: 20px;
    padding: 15px;
    margin-left: 0;
    align-items: center;
}

.video-backgrund {
    position: fixed;
    top: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}

video {

    width: 100%;
    height: 100%;
}

.backgrund-mascara {
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 10%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 95%);
}

h1 {
    color: aliceblue;
    margin-top: 15px;
}

#h1-projt {
    color: rgb(133, 191, 241);
    margin-top: 0;
    text-align: center;
    font-size: 20px;
}

.incon-h1 {
    width: 30px;
}

p {
    color: aliceblue;
    margin-top: 15px;
    font-size: 17px;
    text-align: justify;
}

.paragrafo-responsivo {
    display: none;
}

.paragrafo-i-am {
    color: aliceblue;
    margin-top: 15px;
    font-size: 16px;
    text-align: justify;
    width: 66%;
}

.caixa-redes-sociais {
    display: flex;
    align-items: center;
    
}

.logo-redes-sociais {
    width: 40px;
}

.link-redes-sociais {
    color: rgb(38, 137, 224);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.link-git {
    display: flex;
    margin-top: 15px;
    margin-left: 0%;
    font-size: 17px;

}

.caixa-0 {
    display: flex;
    flex-direction: column;
    left: 10%;
    margin-top: 8px;

}

.caixa-1 {
    display: flex;
    margin-top: 15px;
    gap: 15%;
}

.caixa-2 {
    display: flex;
    margin-top: 10px;
    gap: 15%;
    margin-left: 22%;
}

.img-github {
    width: 30px;
}

.mockups-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mockups-buttom {
    display: flex;
    flex-direction: column;
}

.mockup-1 {
    width: 250px;
    margin-left: auto;
}

.mockup-2 {
    width: 250px;
    margin-left: auto;
}

.mockups-links {
    font-size: 20px;
    color: rgb(38, 137, 224);
    margin: auto;
    cursor: pointer;
}

button {
    margin-top: 15px;
    height: 40px;
    width: 200px;
    background: #C51111;
    border: none;
    color: aliceblue;
    cursor: pointer;
    border-radius: 4px;
}

footer {
    display: flex;
    background: rgb(95, 177, 177, 0.2);
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
}

.footer-paragrafo {
    color: aliceblue;
    font-size: 15px;
    margin: auto;
    text-align: center;
}

.whatsapp {
    width: 50px;
    position: absolute;
    right: 70px;
    bottom: 10px;

}

.to-form {

    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    font-size: 20px;
    position: fixed;
    left: -320px;
    transition: left 1s linear;
    z-index: 4;
    top: 15%;
}

input {
    height: 30px;
    border-radius: 4px;
    border: 1px, solid, gray;
    padding-left: 10px;
    outline-color: chocolate;
    cursor: pointer;
}

textarea {
    height: 90px;
    width: 300px;
    border-radius: 4px;
    border: 1px, solid, gray;
    padding: 10px;
    outline-color: chocolate;
    cursor: pointer;
}

.button-form {
    width: 300px;
    font-size: 15px;
}

.backgrund-mascara-form {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

@media screen and (max-width: 1000px) {

    * {
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        font-family: 'Mukta', sans-serif;
    }

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
        padding-top: 5px;
        align-items: center;
    }

    video {
        display: none;
    }

    .video-backgrund {
        position: fixed;
        top: 0;
        z-index: -1;
        min-width: 100%;
        min-height: 100%;
    }

   nav {
    display: none;
   }

   #img-box-1 {
    width: 250px;
    align-items: center;
    
}

    main {
        display: flex;
        margin-left: 30px;
        align-items: center;
    }

    h1 {
        display: none;
    }

    p {
        color: aliceblue;
        margin-top: 40px;
        font-size: 15px;
        text-align: center;
    }

    .paragrafo-responsivo {
        display: flex;
        margin-top: 10px;
        color: rgb(38, 137, 224);
    }

    .box-1 {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .box-2 {
        display: none;
    }

    #img-responsivo {
       display: flex;
        height: 220px;
        bottom: 5%;
        margin-top: 10px;
        align-items: center;
    }
    
    .box-3 {
        display: none;
    }

    footer {
        display: flex;
    }

    .footer-paragrafo {
        color: aliceblue;
        font-size: 10px;
        margin-left: 10px;
        margin-bottom: 6px;
        text-align: center;
    }

    .whatsapp {
        width: 60px;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .to-form {

        display: flex;
        flex-direction: column;
        background-color: aliceblue;
        padding: 20px;
        border-radius: 5px;
        gap: 20px;
        font-size: 20px;
        position: fixed;
        left: -330px;
        transition: left 1s linear;
        z-index: 4;
        top: 15%;
    }

   

  



  


}